[submodule "projects/gentoo-thanks"]
	path = projects/gentoo-thanks
	url = https://github.com/danielquinn/gentoo-thanks
[submodule "projects/bitcoin-donate"]
	path = projects/bitcoin-donate
	url = https://github.com/danielquinn/bitcoin-donate
[submodule "projects/djangoconeu-tutorial"]
	path = projects/djangoconeu-tutorial
	url = github.com:danielquinn/DjangoConEU2015-PHP-to-Python.git
